/* SVG TESTS */
.line{
  stroke: #333;
  stroke-width: 16;
  stroke-linecap: round;
  transition: all 0.2s ease-out;
  &:hover {
    stroke-width: 12;
    stroke: red;
  }
}

.line-active {
  stroke: #F94B00;
  stroke-width: 12;
}

#sun_line{
  stroke-width: 2;
  stroke-linecap: round;
  transition: all 0.2s linear;
}

.sun{
  fill: black;
  transition: all 0.3s linear;
}

.active_sun{
  fill: #F94B00;
}


#windmill-head {
  translate: 100, 150;
  animation: 3s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.windmill {
  fill: gray;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    fill: rgb(17, 175, 17);
  }
}